
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body
{
   background: #ffffff;
   font-family: 'Poppins';
   font-family: 'PT Serif';
}

.container 
{
    width: 1197px;
    margin: 0 auto;
    padding-left:  5rem;
}
section
{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.head__container
{
    display: flex;
  
   gap: 20rem;
   padding-top: 5rem ;
}

.description
{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
.head__container h1
{
    font-family: 'PT Serif';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
letter-spacing: -0.045em;

color: #000000;
}

.description h5
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    text-transform: uppercase;
    
}

.description p
{
   width: 439px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
   color: #000000;
}
.team__container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
   
}
.team:nth-child(2),.team:nth-child(5)
{
    padding-top: 5rem;
}

.team
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.team img 
{
    width: 238px;
}

.team__details
{
    display: flex;
    position: relative;
    gap: 2rem;
}

.team__details p 
{
    transform: rotate(90deg);

    width: 100%;
    position: absolute;
    top: 55%;
    left: 18%;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}


small
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #000000;

}

/* Footer CSS  */

footer
{
    text-align: center;
    
}


footer p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
margin:40px 0;
}

footer strong 
{
    text-decoration: underline;
}